<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
	<title>Stack</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="asset/core.css">
</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
	<header>
		<nav>
			<div class="left logo">
				<img src="asset/img/logo.png">
				<span>SLiMS</span>
			</div>
			<div class="right info">
				<a href="#" title="Beranda"><i class="fa fa-home"></i></a>
				<a href="#" title="Informasi Perpustakaan"><i class="fa fa-info-circle"></i></a>
				<a href="#"><i class="fa fa-users"></i></a>
				<a href="#"><i class="fa fa-user"></i></a>
				<a href="#"><i class="fa fa-search"></i></a>
			</div>
		</nav>
	</header>
	<aside class="mainCon">
		<div class="banner-content animated infinate fadeInUp">
			<h1>Cari</h1>
			<span>masukkan satu atau lebih kata kunci dari judul, pengarang, atau subyek</span>
			<input type="text" aria-hidden="true" autocomplete="off" placeholder="Masukan kata kunci" autofocus>
			<button class="btn btn-success" style="padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;"><i class="fa fa-search"></i></button>
			<br>
			<a class="advS" href="#">Advance Search</a>
		</div>
		<div class="quotes-on-dday animated infinate fadeInLeft">
			<!-- Quotes get from www.goodreads.com -->
			<h3>Quotes</h3>
			<span>"I declare after all there is no enjoyment like reading! How much sooner one tires of any thing than of a book! -- When I have a house of my own, I shall be miserable if I have not an excellent library."</span>
			<small><b>-- Jane Austen, Pride and Prejudice</b></small>
		</div>
	</aside>
	<div class="page_title hide">
		<h4>Koleksi</h4>
	</div>
	<div class="mainContent hide" style="height:1000px;">
		<div class="left label-left">
			<span>Search Result</span>
			<img class="cover hide" src="asset/img/book.png">
		</div>
		<div class="detail-search-box hide">
			<input type="text" aria-hidden="true" autocomplete="off" placeholder="Masukan kata kunci" autofocus>
			<button class="btn btn-success" style="padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;"><i class="fa fa-search"></i></button>
			<a class="advS coll" href="#" style="color: #3e3e3e; margin-bottom: 10px;padding-right:0">Advance Search</a>
		</div>
		<div class="result-content">
			<div class="search-box hide">
				<input type="text" aria-hidden="true" autocomplete="off" placeholder="Masukan kata kunci" autofocus>
				<button class="btn btn-success" style="padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;"><i class="fa fa-search"></i></button>
				<a class="advS coll" href="#" style="color: #3e3e3e; margin-bottom: 10px;">Advance Search</a>
			</div>
			<div class="content-title">
				<div class="content-title-img">
					<img src="asset/img/book.png">
				</div>
				<div class="content-title-main">
					<h4>Ini adalah judul</h4>
					<i style="color:#183e59;float: right;transform: rotate(45deg);font-size: 18pt;"class="fa fa-thumb-tack"></i>
					<br>
					<span>
						<b>Author</b>
						<br>
						<b>No.Panggil</b>
						<br>
						<b>Ketersedian</b>
						<br>
					</span>
				</div>
				<div style="float:right; display: block; margin-left: 155px">
					<a href="#" class="spc-btn btn btn-primary">Detail catumin</a>
					<a href="#" class="spc-btn btn btn-primary">XML Detail</a>
				</div>
				<div class="social-media" style="float:right;margin-top: 12px;">
					Bagikan : 
					<a target="blank" href="#"><i class="fa fa-facebook"></i></a>
					&nbsp;<a target="blank" href="#"><i class="fa fa-twitter"></i></a>
					&nbsp;<a target="blank" href="#"><i class="fa fa-google-plus"></i></a>
					&nbsp;<a target="blank" href="#"><i class="fa fa-digg"></i></a>
					&nbsp;<a target="blank" href="#"><i class="fa fa-reddit"></i></a>
					&nbsp;<a target="blank" href="#"><i class="fa fa-linkedin"></i></a>
					&nbsp;<a target="blank" href="#"><i class="fa fa-stumbleupon"></i></a>
				</div>
			</div>
			<div class="content-title-2 hide">
				<h3>Text</h3>
				<h4 style="font-weight:bold">The Power Of Habit: Why We Do What We Do In Life And Business</h4>
				 <a href="?author=%22Duhigg%2C+Charles%22&amp;search=Search" title="Click to view others documents with this author">Duhigg, Charles</a> - Personal Name<br>  <br>
				 <p style="text-align: justify !important; font-family:  sans-serif;">In The Power of Habit, Pulitzer Prize–winning business reporter Charles Duhigg takes us to the thrilling edge of scientific discoveries that explain why habits exist and how they can be changed. Distilling vast amounts of information into engrossing narratives that take us from the boardrooms of Procter &amp; Gamble to sidelines of the NFL to the front lines of the civil rights movement, Duhigg presents a whole new understanding of human nature and its potential. At its core, The Power of Habit contains an exhilarating argument: The key to exercising regularly, losing weight, being more productive, and achieving success is understanding how habits work. As Duhigg shows, by harnessing this new science, we can transform our businesses, our communities, and our lives.</p>
			</div>
		</div>
	</div>
	<div class="stck-footer animated infinate fadeInUp">
		<span>Stack template design by <b>Drajat Hasan</b></span>
	</div>
	<div class="modalbox hide">
		<div class="inner-content" style="display: block; margin-left: auto; margin-right: auto; width: 60%;">
			<table width="100%">
				<tr>
					<td colspan="2"><h3>Pencarian Spesifik</h3></td>
				</tr>
				<tr>
					<td>Judul</td>
					<td>Pengarang</td>
				</tr>
				<tr>
					<td><input type="text" class="form-class"></td>
					<td><input type="text" class="form-class"></td>
				</tr>
				<tr>
					<td>Subyek</td>
					<td>ISBN/ISSN</td>
				</tr>
				<tr>
					<td><input type="text" class="form-class"></td>
					<td><input type="text" class="form-class"></td>
				</tr>
				<tr>
					<td>Tipe Koleksi</td>
					<td>Lokasi</td>
				</tr>
				<tr>
					<td>
						<select>
							<option>Pilih</option>
						</select>
					</td>
					<td>
						<select>
							<option>Pilih</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Tipe Koleksi</td>
				</tr>
				<tr>
					<td>
						<select>
							<option>Pilih</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: right; padding-right: 35px;">
						<button class="btn btn-primary">Pencarian</button>
						<a href="javascript:void(0)" class="btn btn-danger">Batal</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>